.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}
.menu_mobile-tablet{
    display: none;
}
.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .3s;
}
.menu li:hover{
    border-color: var(--primary-color);
}
@media (max-width: 960px){
    .menu{
        display: none;
    }
    .menu_mobile-tablet{
        margin: 10px;
        display: flex;
        font-size: 2rem;
        text-align: right;
    }

}