.projetos{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
section{
    height: 100vh;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
    
}
.card{
    position: relative;
    width: 22rem;
    height: 14rem;
    overflow: hidden;

}
.card-img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.card::before{
    background-color: #0008;
    content: "clique para ver o projeto";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-weight: 700;
    transform: translateY(100%);
    transition: all .5s;
}
.card:hover::before{
    transform: translateY(0%);
}
@media (max-width: 960px){
    .projetos{
        max-width: ;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
        gap: 2,5rem;
    }
    .card-img{
        max-width: 100%;
        max-height: 100%;
        height: 230px;
        width: 380px;
    }
       
}
@media(max-width:640px){
    .projetos{
        height: 65rem;

    }

}