:root{
    --primary-color:#FEDC00;
    --primary-color-light: #FEDC0055;
    --icon-color:#252525;
}
body{
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    grid-template-areas: "content";
    color: #ffffff;
    background-color: #000000;
}
header{
    place-self: start center;
    grid-area: content;
    max-width: 1200px;
    height: 100px;
    width: 100%;
    margin-top: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color-ligth);
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid var(--primary-color);
}
.back:hover{
    opacity: 1;
}

section{
    height: 100vh;
}
.projetos{
    width: 100%;
}
.contato{
    background-color: lightpink;
    width: 100%;
}

footer{
    place-self: end center;
    grid-area: content;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: .75rem;
    border-top: 2px solid #ffffff;
}
/* TABLET */
@media (max-width:960px){
header{
    transform: translate(30px, 60px);
}

}

/* MOBILE */
@media (max-width:640px){

}
